<div class="container">
    <h1>로또 프로그램!<br>
    오늘의 추첨 번호는?</h1>


<br>
<%= image_tag @lotto_number[0] %>
<%= image_tag @lotto_number[1] %>
<%= image_tag @lotto_number[2] %>
<%= image_tag @lotto_number[3] %>
<%= image_tag @lotto_number[4] %>
<%= image_tag @lotto_number[5] %>


</div>